<header>
    <img src="/images/clinica.jpg" alt="Clínica Médica">
    <h1>Clínica Médica</h1>
    <nav>
      <ul>
        <li><a href="/pacientes">Listar Pacientes</a></li>
        <li><a href="/pacientes/new">Inserir Paciente</a></li>
      </ul>
    </nav>
  </header>
  <link rel="stylesheet" type="text/css" href="../public/style.css">